@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> <a href="http://www.stroitelstvo-new.ru/steklo/recuperator.shtml" target="_blank">Рекуператор</a></h1>
    @*<p>Узнать о <a href="http://www.stroitelstvo-new.ru/steklo/recuperator.shtml">Рекуператоре</a>.
    </p>*@
</div>

